_log
_build
_junk
*.native
*.byte
*.d.native
*.p.byte
TAGS
setup.data
setup.log
src/prog4.c
_tags
myocamlbuild.ml
setup.ml
META
src/elf.mllib
AUTHORS.txt
INSTALL.txt
README.txt
src/elfoncaml.mllib
src/libelfoncaml.clib
